hello
<html>
  <head>
    <title>Home Page</title>
    <style>
     #container{
     	width: 500px;
     	height: 400px;
     	border: solid;
     	border-color: orange;
     	margin-left: 500px ;
     	
     }



    </style>
  </head>
  <body bgcolor="pink">
    <h1>This is the Home Page</h1>
    <a href="google.co.in">Google</a>
    <img src= "w3schools.jpg" alt="Image" width="104" height="142">
    <p title="About Rails">  
      this is the paragraph.
      W3Schools is a web developer's site.
      It provides tutorials and references covering
      many aspects of web programming,
      including HTML, CSS, JavaScript, XML, SQL, PHP, ASP, etc.
    </p>  
    <a href="w3schools.jpg" download>
    <img src="w3schools.jpg" alt="W3Schools" width="104" height="142">
    </a>
    <a href="w3schools.jpg" download="w3logo">
    <img src="w3schools.jpg" alt="W3logo" width="104" height="142">
    </a>
    <a href="http://www.w3schools.com" target="_blank">Visit W3Schools</a> 
    The <abbr title="World Health Organization">WHO</abbr> was founded in 1948.

	<address>
	  Written by <a href="mailto:webmaster@example.com">Jon Doe</a>.<br> 
      Visit us at:<br>
      Example.com<br>
      Box 564, Disneyland<br>
      USA
    </address>

    <p contenteditable="true" spellcheck="true">This is a peragraph. It is editable. Try to change the text.</p>
    <button type="button" onclick="alert('Hello world!')">Click Me!</button>
        
        <div id="container">
        <form >
          First name: <input type="text" name="fname" placeholder="First Name"><br>
      	  Last name: <input type="text" name="lname" placeholder="Last Name"><br>
      	  Gender: <input type="radio" name="gender" value="male" checked> Male
                  <input type="radio" name="gender" value="female"> Female <br/>
      	  car: <select name="cars">
    	         <option value="volvo">Volvo</option>
                 <option value="saab">Saab</option>
                 <option value="fiat">Fiat</option>
                 <option value="audi">Audi</option>
               </select>

          <br>
          <textarea name="message" rows="10" cols="30">
            The cat was playing in the garden.
          </textarea> <br/>
          <input type="submit" value="Submit">
        </form>
      </div>
      <!--  
      <form name="frm" id="container">   
        <table>
          <tr>
              <td>first name: </td>
              <td><input type="text" name="fname" placeholder="First Name"></td>
          </tr>
          <tr>
          	  <td> Gender: </td>
          </tr>
          <tr>
          	<td><input type="radio" name="gender" value="male" checked> Male</td>
            <td><input type="radio" name="gender" value="female"> Female</td>
          </tr>     
          <tr>
          	<td> Car: </td>
          	<td><select name="cars">
    	         <option value="volvo">Volvo</option>
                 <option value="saab">Saab</option>
                 <option value="fiat">Fiat</option>
                 <option value="audi">Audi</option>
               </select> 
            </td>
          </tr>      
        </table>
      </form> -->
    



  </body>
</html>


 